.middle .feeds .feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;

}
.middle .feed .head{
  display: flex;  
  justify-content: space-between;

}
.middle .feed .user{
    display: flex;
    gap: 1rem;

}
.middle .feed .photo{
    border-radius: var(--card-border-radius);
    overflow:hidden;
    margin: 0.7rem 0;

}
.middle .feed .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.middle .liked-by{
    display: flex;
}
.middle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -0.6rem;
    border: 2px solid var(--color-white);
}
.middle .liked-by span:first-child{
    margin: 0;

}
.middle .liked-by p{
    margin-left: 0.5rem;
     
}